body{
    background-color: #053a24;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.appWrap{
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    overflow: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }
}
