.createListWrap{
    width: 335px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-left: 40px;
    input{
        width: 220px;
        height: 25px;
        border-radius: 12px;
        border: none;
        outline: none;
        padding: 0 0 0 10px;
    }
    div{
        border-radius: 14px;
        padding: 2px 5px;
        position: relative;
        background-color: #fff;
        padding: 4px 9px;
        height: 18px;
        line-height: 16px;
        font-size: 15px;
        &:hover{
            cursor: pointer;
            background-color: #d6d6d6;
        }
        &:active{
            top: 2px;
        }
    }
}

@media (max-width: 1140px) {
    .createListWrap {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    input{
        margin-bottom: 15px;
    }
  }